snippet nocxx
	#ifdef __cplusplus
	extern "C" {
	#endif

	${0:${VISUAL}}

	#ifdef __cplusplus
	} /* extern "C" */
	#endif
endsnippet

snippet clangfmt_off
	// clang-format off
	${0:${VISUAL}}
	// clang-format on
endsnippet
