snippet exectime
{
	auto start__ = std::chrono::high_resolution_clock::now();
	${0:${VISUAL}}
	auto end__ = std::chrono::high_resolution_clock::now();
	std::cout << __func__ << ":" << __LINE__ << ": " << std::chrono::duration_cast<std::chrono::nanoseconds>(end__ - start__).count() << "ns" << std::endl;
}
endsnippet

snippet pr
std::cout << $1 << std::endl;
endsnippet

snippet pre
std::cerr << $1 << std::endl;
endsnippet

snippet inc
#include <${1:iostream}>
endsnippet
