snippet title
---
title: ${1:`!p snip.rv = snip.basename.replace('-', ' ').removesuffix('.md')`}
date: `!v strftime("%Y-%m-%d")`
tags: $2
---

# $1
$0
endsnippet

snippet refs
## References
1. $0
endsnippet

snippet tmpl_book
## Main idea
$1

## Why?
$2

## How?

## Structure
$3

## TODO

## Summary
$0
endsnippet

snippet spoiler
<details>
<summary>$1</summary>
$0
</details>
endsnippet
