snippet title
---
title: ${1:`!p snip.rv = snip.basename.replace('-', ' ').removesuffix('.md')`}
date: `!v strftime("%Y-%m-%d")`
colorlinks: true
aliases:
tags: $2
---

# $1
$0
endsnippet

snippet refs
## References
1. $0
endsnippet

snippet spoiler
<details>
<summary>$1</summary>
$0
</details>
endsnippet
