snippet tmpl
scilla_version 0

library $1

contract $1()
$0
endsnippet

snippet tr
transition $1($2)
  $0
end
endsnippet

snippet pr
procedure $1($2)
  $0
end
endsnippet

snippet match
match $1 with
| $0
end
endsnippet

snippet one_msg
let one_msg =
  fun (msg : Message) =>
    let nil_msg = Nil {Message} in
    Cons {Message} msg nil_msg
endsnippet

snippet event
e = {_eventname : "$1"; $0};
event e
endsnippet
