snippet pr
echo "${0}"
endsnippet

snippet filename_v
"\${${1:#:VAR})##*/}"
endsnippet

snippet dirname_v
"\${${1:#:VAR}%/*}"
endsnippet

snippet ch_file
if [[ -f "$1" ]]; then
	$0
fi
endsnippet

snippet ch_var
[[ "\$${1:var}" ]] && ${0:printf "%s\n" "$var"}
endsnippet

snippet cat
$0="\$(< ${1:/path/to/file.txt})"
endsnippet

snippet strict_mode
set -eou pipefail
endsnippet
