snippet title
---------------------- MODULE ${1:`!p snip.rv = snip.basename`} ----------------------
$0
=============================================================================
endsnippet

snippet pr
/\ PrintT(<<$0>>)
endsnippet

snippet line
-------------------------------------------------------------------------------
endsnippet

snippet lline
===============================================================================
endsnippet
