[Unit]
Description=Log pressed keys

[Service]
Type=simple
ExecStart=/home/jubnzv/Scripts/rsi_keylogger_X11.sh
Environment="DISPLAY=:0"
Restart=always

[Install]
WantedBy=default.target
