[Unit]
Description=Force taskwarrior-end-day routine at midnight.

[Service]
Environment="DISPLAY=:0"
ExecStart=/home/jubnzv/.local/bin/taskwarrior-end-day -f
Type=oneshot

[Install]
WantedBy=default.target
