[Unit]
Description=Send notificaiton with number of remaining tasks for today.

[Timer]
OnCalendar=*-*-* 7,9,17,19,21:30:00

[Install]
WantedBy=timers.target

