[Unit]
Description=Send notificaiton with number of remaining tasks for today.

[Service]
Environment="DISPLAY=:0"
ExecStart=taskwarrior-notify-has-tasks
Type=oneshot

[Install]
WantedBy=default.target
