[Unit]
Description=Email taskwarrior tasks completed this month

[Timer]
OnBootSec=1min
OnUnitActiveSec=1d
OnCalendar=*-*~01
Persistent=true

[Install]
WantedBy=timers.target

