[user]
    name = Georgy Komarov
    email = jubnzv@gmail.com

[core]
    filemode = false
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX

[alias]
    open = !nvim `git-open.sh`
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[github]
	user = jubnzv
