[Unit]
Wants=taskwarrior-reporter-monthly.timer
Description=Run taskwarrior-reporter for this month

[Service]
Environment="DISPLAY=:0"
ExecStart=~/.local/bin/taskwarrior-reporter --monthly
Type=oneshot

[Install]
WantedBy=default.target
